<div ng-controller = "chartsController">
  <div id = "chartsmaindiv">
      <div id = "filtersbox" class = "container">
        <div class = "row">
            <div class = " col-xs-offset-1"></div>
            <div class = "col-xs-2">
              <div class="dropdown" id = "drop1">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id = "zonabutt">
                    Zona
                <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Tegucigalpa</a></li>
                    <li><a href="#">Danli</a></li>
                    <li><a href="#">Olancho</a></li>
                    <li><a href="#">Norte</a></li>
                    <li><a href="#">Sur</a></li>
                  </ul>
              </div>
            </div>
            <div class = "col-xs-3 col-xs-offset-1"></div>
            <div class = "col-xs-2">
              <div class="dropdown" id = "drop2">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id = "mesbutt">
                    Mes
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Enero</a></li>
                    <li><a href="#">Febrero</a></li>
                    <li><a href="#">Marzo</a></li>
                    <li><a href="#">Abril</a></li>
                    <li><a href="#">Mayo</a></li>
                    <li><a href="#">Junio</a></li>
                    <li><a href="#">Julio</a></li>
                    <li><a href="#">Agosto</a></li>
                    <li><a href="#">Septiembre</a></li>
                    <li><a href="#">Octubre</a></li>
                    <li><a href="#">Noviembre</a></li>
                    <li><a href="#">Diciembre</a></li>
                  </ul>
                </div>
                <div class = " col-xs-offset-1"></div>
              </div>
          </div>
        </div>
      <div id = "divchart" class = "container">
        <div class = "col-xs-12 col-md-6">
          <div id = "chart1"></div>
        </div>
        <div class = "col-xs-12 col-md-6">
          <div id = "chart2"></div>
        </div>
      </div>
      <div id = "divchart3" class = "container">
        <div id = "chart3"></div>
      </div>
    </div>
    </div>
